# Envrionment Variables - Change variables in this file and name '.env'

# Twitter API
API_KEY = "YOUR_KEY_HERE"
API_SECRET = "YOUR_KEY_HERE"
API_ACCESS_TOKEN = "YOUR_KEY_HERE"
API_ACCESS_SECRET = "YOUR_KEY_HERE"

# Twitter
TWITTER_ACCOUNT = "YOUR_@TWITTER_HERE"

# Webhook
WEBHOOK_URL = "YOUR_WEBHOOK_HERE"

# Website
ARCHIVE_URL = "ARCHIVE_URL"